.cards {
  overflow-x: auto;
  display: flex;
}

.card-item {
  height: calc(80% - 64px);
  margin: 32px;
  width: 250px;
  background-color: #eaeaea;;
  border-radius: 4px;
}

.header-page {
  padding: 16px 0 8px;
  margin-left: 32px;
}

.card-header {
  display: flex;
  padding: 8px;
}

.card-header h2 {
  width: 100%;
}

.card-header-icon {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.boards-tasks {
  padding: 8px;
}